.card {
  max-width: 420px;
  width: 420px;
  margin: 3rem 1.5rem;
}
.contain-graph-circle{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  color: #fff;
  font-size: 17px;
  background-color: #00CFE6;
  border-radius: .25rem;
  top: -30px;
  z-index: 1;
  position: relative;
  transition: all .3s cubic-bezier(.34,1.61,.7,1);
}

.contain-card-actions{
  display: flex;
  justify-content: center;
  margin-top: -60px;
  margin-bottom: 20px;
}

.mat-card-actions{
  padding: 0 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}
.contain-card-header:hover .contain-graph-circle{
  transform: translateY(-45px)
}

:host /deep/ .ng-star-inserted{
  stroke: #FFF !important
}

:host /deep/ .ct-chart{
  width: 100%;
}
:host /deep/ .chart-white .ct-label{
  color: hsla(0,0%,100%,.7);
}
:host /deep/ .chart-white .ct-series-a .ct-bar,:host /deep/ .chart-white .ct-series-a .ct-line, :host /deep/ .chart-white .ct-series-a .ct-point, :host /deep/ .chart-white .ct-series-a .ct-slice-donut{
  stroke: hsla(0,0%,100%,.8);
}
:host /deep/ .chart-white .ct-grid{
 stroke: hsla(0,0%,100%,.2);
}
:host /deep/ .ct-label{
  line-height: 1;
}

.text-icon{
  display: flex;
  margin-right: 8px;
  color: rgb(76, 175, 80);
  font-size: 15px;
}

.icon-small{
  font-size: 18px;
  margin-right: -9px;
}